<!-- <ng-container id="main-wrapper"> -->
<!-- -->

<div id="main-wrapper" *ngIf="isMenuVisible">

    <app-header></app-header>

    <app-menu></app-menu>

    <router-outlet></router-outlet>

    <!--**********************************
        Footer start
    ***********************************-->
    <div class="footer">
        <div class="copyright">
            <p>Copyright © Developed by <a href="https://dexignzone.com/" target="_blank">Digittechnologis</a> 2023</p>
        </div>
    </div>
    <!--**********************************
        Footer end
    ***********************************-->

</div>

<div id="main-wrapper" *ngIf="!isMenuVisible">

    <router-outlet></router-outlet>
</div>

<!-- </ng-container> -->